@font-face {
  font-family: 'Messina Sans';
  src: url('../../fonts/MessinaSans-Light.woff') format('woff'),
  url('../../fonts/MessinaSans-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
}

@font-face {
  font-family: 'Messina Sans';
  src: url('../../fonts/MessinaSans-Book.woff') format('woff'),
  url('../../fonts/MessinaSans-Book.woff2') format('woff2');
  font-style: normal;
  font-weight: 350;
  font-display: fallback;
}

@font-face {
  font-family: 'Messina Sans';
  src: url('../../fonts/MessinaSans-Regular.woff') format('woff'),
  url('../../fonts/MessinaSans-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: 'Messina Sans';
  src: url('../../fonts/MessinaSans-SemiBold.woff') format('woff'),
  url('../../fonts/MessinaSans-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
}

@font-face {
  font-family: 'Messina Sans';
  src: url('../../fonts/MessinaSans-Bold.woff') format('woff'),
  url('../../fonts/MessinaSans-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}

@font-face {
  font-family: 'Messina Sans';
  src: url('../../fonts/MessinaSans-Book.woff') format('woff'),
  url('../../fonts/MessinaSans-Book.woff2') format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
}
